.container{
    display: flex;
    flex-direction: column; /*stack divs one under another*/
  }
body{
    background-color: #252e2d;
}

.box1{
    width: 100%; /* set the width of the divs to be 100% of their parent container */
    height: 500px; /* set the height of the divs to be 100px */
    margin-bottom: 10px;
    background-color: bisque;
    background-image: url('./books.jpg');
}

.box2 {
    width: 100%; /* set the width of the divs to be 100% of their parent container */
    height: 100px; /* set the height of the divs to be 100px */
    margin-bottom: 25px;
    background-color: rgb(86, 135, 130, 0.5);
    
}

.box2 h1 {
    font-size: 80px;
    margin: auto;
    margin-left: 420px;
}

.box2-image-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    margin-left: 40px;
    padding: 10px;
}

.box2-image-1 img {
    width: 16%;
    margin-left: 40px;
    padding: 10px;
}


.search-container {
    display: flex; /* use flexbox to align the input field and button horizontally */
    align-items: center; /* center the input field and button vertically */
    background-color: #f2f2f2; /* set the background color of the container */
    padding: 5px; /* add some padding to the container */
    border-radius: 15px; /* add rounded corners to the container */
    width: 500px;
    margin-left: 380px;
    margin-top: 50px;
}

input[type=text] {
    flex: 1; /* take up remaining space in the container */
    padding: 12px 20px; /* add some padding to the input field */
    margin-left: 10px; /* add a margin to the left of the input field */
    border: none; /* remove the border around the input field */
    font-size: 16px; /* set the font size of the text in the input field */
    border-radius: 15px;
}

button[type=submit] {
    background-color: #c9dbc9; /* set the background color of the button */
    color: rgb(128, 119, 119); /* set the text color of the button */
    padding: 12px 20px; /* add some padding to the button */
    border: none; /* remove the border around the button */
    cursor: pointer; /* change the cursor to a hand when hovering over the button */
    font-size: 16px; /* set the font size of the text in the button */
    border-radius: 25px; /* add rounded corners to the button */
}

/* add fontawesome icon */
.fa-search {
    font-size: 18px; /* set the font size of the icon */
    margin-right: 5px; /* add a margin to the right of the icon */
}

