<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box1">
            <div class="search-container">
                <form action="" method="POST">
                    <input type="text" name="text" placeholder="Search...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            
        </div>
        <div class="box2">
            <h1>High Rated Books</h1>
            <div class="sorted">
                <form action="" method="POST">
                    <select name="name" id="name" onchange="submitForm()">
                        {% for category in categories %}
                        <option value="{{category}}">{{category}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="submit" >
                </form>
            </div>
            <div class="box2-image-1">
                {% for i in range(0,5) %}
                <img src="{{ thumb[i] }}" alt="image">
                
                {% endfor %}
            </div>
            <div class="box2-image-1">
                {% for i in range(5,10) %}
                <img src="{{ thumb[i] }}" alt="image">
                
                {% endfor %}
            </div>
        </div>
    </div>
    

</body>
</html>